body, div, p, h1, h2, h3, h4, h5, h6, li, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

blockquote {
	font-family: arial;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	border-left: 0;
}

#container {
	background-color: #efe6ef;
	width: 1280px;
	margin: 50px auto;
	box-shadow: 5px 5px 10px grey;
	padding: 10px 10px;
}

#in-border {
	padding-bottom: 40px
}

.profile-picture {
	padding: 50px 0;
}

.profile-picture img {
	width: 250px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	box-shadow: 0 0 10px white;
}

.divider {
	background-color: #2D5573;
	width: 2px;
	height: 250px;
	display: block;
	margin: 50px auto;
}

.details div{
	margin: 50px auto;
	text-align: center;
	font-family: franklin gothic;
	color: #2D5573;
}

.details h1 {
	text-transform: uppercase;
	font-size: 60px;
}

.details h2 {
	font-size: 35px;
}

.details ul {
	list-style-type: none;
	margin: 0 100px;
	padding: 0;
	overflow: hidden;
	margin-top: 10px;
}

.details li {
	float: left;
	width: 100px;
	margin-right: 44px;
}

.details li:last-child {
	margin-right: 0px;
}

.divider-a {
	background-color: #2D5573;
	width: 1180px;
	height: 2px;
	display: block;
	margin: 0 50px;
}

.company-images {
	margin: 50px 100px;
}

.company-images img {
	float: left;
	width: 250px;
	margin: 90px 155px 0 0;
}

.company-images img:last-child {
	margin: 0;
}