body, div, p, h1, h2, h3, h4, h5, h6, li, ul, ol, blockquote {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

blockquote {
	font-family: arial;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	border-left: 0;
}

#container {
	background-color: #efe6ef;
	width: 1280px;
	height: 500px;
	margin: 50px auto;
	box-shadow: 5px 5px 10px grey;
	
}